{% extends 'base.html.twig' %}

{% block title %}Mon compte - La Boutique Antillaise{% endblock %}

{% block content %}
    <h1>Mon compte</h1>
    Bienvenue <strong>{{ app.user.firstname }}</strong> dans votre espace.
    Vous pouvez y gerez les informations liées à votre compte.
    <hr>
    <a href="{{ path('account_password') }}">Modifier mon mot de passe</a><br>
    <a href="{{ path('account_address') }}">Gérer mes adresses</a><br>
    <a href="{{ path('account_order') }}">Mes commandes</a><br>
    {# TODO: Modifier mon mot de passe #}
    <hr>
{% endblock %}
