{% extends 'base.html.twig' %}

{% block title %}Modifier mot de passe - La Boutique Antillaise{% endblock %}

{% block content %}
    <h1>Modifier mon mot de passe</h1>
    <a href="{{ path('account') }}">Mon compte</a><br>
    <hr>
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    {{ form(form) }}
    <hr>
    <a href="{{ path('account') }}">Retour</a><br>
{% endblock %}
