{% extends 'base.html.twig' %}

{% block title %}Modifier mot de passe - La Boutique Antillaise{% endblock %}

{% block content %}
    <div class="block-custom block-small">
        <h1>Modifier mon mot de passe</h1>
        <hr>
        {% if notification %}
            <div class="alert alert-info">{{ notification }}</div>
        {% endif %}
        {{ form(form) }}
        <hr>
        <a href="{{ path('account') }}">Retour à mon compte</a><br>
    </div>
{% endblock %}
